@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #177079;
}

.logo img {
  height: 40px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  margin-left: 15px;
}

hr {
  border: none;
  border-bottom: 5px solid #1AAAB2;
}

.welcome-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 5rem;
  height: 100vh;
  background-color: #073C45;
}

.welcome-title, .welcome-text {
  color: #D0FEFB;
}

.welcome-title {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 2rem 0;
}

.welcome-button {
  margin-top: 1rem;
  padding: 0.5rem 1.3rem;
  background-color: #D0FEFB;
  color: #073C45;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}